body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
}

form {
  /*display: inline-block;*/
  margin: 15px;
}

div {
  margin: 15px;
  padding: 15px;
  display: flex;
  /* gap: 8px;  optional spacing between buttons */
}

.light {
  padding: 20px;
  margin: 15px;
  font-size: 24px;
}

tr {
  font-size: 24px;
}

.sublight {
  padding: 20px;
  margin: 15px;
  font-size: 24px;


}

#flip {
  border-radius: 15px;
}